session_name: NixOS
start_directory: "~/.config/NixOS/"
shell_command_before: clear;pwd;ls -GA
windows:
  - window_name: Run
    focus: true
    layout: even-horizontal
    panes:
      - focus: true
        shell_command: clear;pwd;ls -GA;git branch -a;git status
  - window_name: ./
    layout: even-horizontal
    panes:
      - focus: true
      - focus: false
  - window_name: ./flake.nix
    layout: even-horizontal
    panes:
      - focus: true
        shell_command: nvim flake.nix
  - window_name: modules/home-manager/
    layout: even-horizontal
    start_directory: "./modules/home-manager"
    panes:
      - focus: true
      - focus: false
  - window_name: modules/nixos/
    layout: even-horizontal
    start_directory: "./modules/nixos/"
    panes:
      - focus: true
      - focus: false
  - window_name: data/
    layout: even-horizontal
    start_directory: "./data/"
    panes:
      - focus: true
  - window_name: hosts/
    layout: even-horizontal
    start_directory: "./hosts/"
    panes:
      - focus: true
      - focus: false
  - window_name: users/reedclanton/
    layout: even-horizontal
    start_directory: "./users/reedclanton/"
    panes:
      - focus: true
      - focus: false
  - window_name: users/reedclanton/home/
    layout: even-horizontal
    start_directory: "./users/reedclanton/home/"
    panes:
      - focus: true
      - focus: false
  - window_name: users/reedclanton/home/
    layout: even-horizontal
    start_directory: "./users/reedclanton/home/"
    panes:
      - focus: true
      - focus: false

